/* Global CSS file */

#user-details {
    display: none;
    border-bottom-right-radius: 10px;
}
/* mobile first */
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto); /* 2 columns on small screens */
    grid-gap: 20px;
}
/* tablets */
@media (min-width: 768px) {
    .grid-wrapper {
        grid-template-columns: repeat(3, auto);
    }
}
/* desktops */
@media (min-width: 992px) {
    .grid-wrapper {
        grid-template-columns: repeat(4, auto);
    }
}

a {
    color: #0f5132;
}

a:hover {
    color: #0f5132;
    background-color: #d1e7dd;
}